<nav class="navbar navbar-expand-lg navBar">
    <div class="containerImg">
        <img class="logo" src="https://www.latercera.com/resizer/Qcpb3l0_wKEcd30LH2HstVDog6M=/900x600/smart/cloudfront-us-east-1.images.arcpublishing.com/copesa/6UNNNAIBVRHBTE54E3XMMMZJCA.jpeg" alt="ImgLogo">
        <h2>SONNO BELLA</h2>
    </div>
    <div class="collapse navbar-collapse elementosNav" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto elementos">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ofertas</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!--En href va a a donde debe ir cuando crea ofertas-->
                    <li><a class="dropdown-item" href="/oferta/registrar">Crear Oferta</a></li>
                    <li><hr class="dropdpwn-divider"></li>
                    <!--En href va a a donde debe ir cuando modificar o eliminar ofertas-->
                    <li><a class="dropdown-item" href="/oferta/lista">Listar Oferta</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button">Calendario</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button">Usuario</a>
                <ul class="dropdown-menu">
                    <!--En href va a a donde debe ir cuando crea ofertas-->
                    <li><a class="dropdown-item" href="">Iniciar Sesion</a></li>
                    <li><hr class="dropdpwn-divider"></li>
                    <!--En href va a a donde debe ir cuando modificar o eliminar ofertas-->
                    <li><a class="dropdown-item" href="">Registrarse</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>