body {
    background-image: url("../img/sonobellaLogo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #000;
    margin: 0;
    padding: 0;
}
.containerImg {
    display: flex;
    flex-direction: row;
}
.logo {
    width: 7%;
    height: 7%;
}
.imgperfil {
    width: 100%;
    height: 100%;
    place-items: center;
    margin: auto;
}
.navBar{
    background-color: #fff !important;
}
.itemNav {
    height: 80%;
    margin: auto;
}
.elementos{
    margin-right: 50px;
    margin-top: auto;
    height: 100%;
}
.elementosNav{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
    align-items: center;
    color: #37474f;
    font-weight: 700;
    padding: 0%;
    height: 100%;
    margin: auto;
    place-items: center;
}
.footerStyle {
    background: #ffffff;
    width: 100%;
    height: 6rem;
    justify-content: end;
    margin-bottom: 0;
}
.footS {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.textFooter {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
.iconosRedes {
    display: flex;
    justify-content: end;
    margin-right: 2rem;
}
.tituloSonoBella {
    color: #000000;
    text-decoration: none;
}