<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
    <title>Sonno Bella</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/agenda.css">
<body>
    <nav th:replace="~{/fragments/navBar :: nav}"></nav>
    <h1 class="title">Calendario</h1>
    <div class="calendar">
        <div class="calendar__info">
            <div class="calendar__prev" id="prev__month">&#9664</div>
            <div class="calendar__month" id="month"></div>
            <div class="calendar__year" id="year"></div>
            <div class="calendar__next" id="next__month">&#9654</div>
        </div>
        <div class="calendar__week">
            <div class="calendar__day calendar__item">Lun</div>
            <div class="calendar__day calendar__item">Mar</div>
            <div class="calendar__day calendar__item">Mie</div>
            <div class="calendar__day calendar__item">Jue</div>
            <div class="calendar__day calendar__item">Vie</div>
            <div class="calendar__day calendar__item">Sab</div>
            <div class="calendar__day calendar__item">Dom</div>
        </div>
        <div class="calendar__dates" id="dates"></div>
    </div>
    <div class="agenda">
        <div class="calendar__info">
            <div class="calendar__prev" id="prev__day">&#9664</div>
            <div class="agenda__day" id="day"></div>
            <div class="agenda__dayNumber" id="dayNumber"></div>
            <div class="calendar__next" id="next__day">&#9654</div>
        </div>
        <div class="agenda__contenido">
            <div class="agenda__horarios">
                <div class="agenda__hora" id="horario"></div>
            </div>
            <div class="agenda__turnos">
                <div class="agenda__turno" id="turno"></div>
            </div>
        </div>
    </div>
    <script src="/js/scripts.js"></script>
</body>
</html>