<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sonno Bella</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navBar">
            <div class="containerImg">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <img class="logo" src="logo.jpg" alt="Img logo sono Bella">
                </a>
            </div>
            <div class="collapse navbar-collapse elementosNav" id="navBarDropdown">
                <ul class="navbar-nav ms-auto elementos">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button">Ofertas</a>
                        <ul class="dropdown-menu">
                            <!--En href va a a donde debe ir cuando crea ofertas-->
                            <li><a class="dropdown-item" href="">Crear Oferta</a></li>
                            <li><hr class="dropdpwn-divider"></li>
                            <!--En href va a a donde debe ir cuando modificar o eliminar ofertas-->
                            <li><a class="dropdown-item" href="">Listar Oferta</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button">Calendario</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button">Usuario</a>
                        <ul class="dropdown-menu">
                            <!--En href va a a donde debe ir cuando crea ofertas-->
                            <li><a class="dropdown-item" href="">Iniciar Sesion</a></li>
                            <li><hr class="dropdpwn-divider"></li>
                            <!--En href va a a donde debe ir cuando modificar o eliminar ofertas-->
                            <li><a class="dropdown-item" href="">Registrarse</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div>SONNO BELLA</div>
    </body>
</html>
